@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Doto', serif;
  background-color: #00a1e4;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1/8rem solid #89fc00;
}

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo-app h1 {
  font-size: 3rem;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo-form input[type="text"] {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1/8rem solid #89fc00;
  background-color: transparent;
  color: #fff;
}

.todo-form button[type="submit"] {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #f5b700;
  border-radius: 0.5rem;
  border: none;
  color: #151515;
  cursor: pointer;
}

.todo-list {
  list-style: none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
  border-bottom: 1/8rem solid #04e762
}

.todo-item input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
}

.todo-item span {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.todo-item button {
  background-color: #DC0073;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #808080;
}